@use 'config';

.game-view--game {
    flex-direction: column;
}

.game-area {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.game-feedback, .game-guess-number {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.game-guess-number {
    justify-content: flex-start;
    flex: none;
    align-items: center;
}

.numberform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-text {
    display: inline-block;
    width: 75%;    
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: 800;
    line-height: 42px;
}

.guess-info {
    font-weight: 700;
    margin-bottom: 16px;
}

.guess-help-text {
    font-style: italic;
}

.incorrect {
    color: config.$color-red;
}

.correct {
    color: config.$color-green;
}

.highscore-footer {
    display: flex;
    justify-content: center;
}

.guess-number-of-times {
    display: flex;
    justify-content: center;
    align-items: center;
    background: config.$color-medium-blue;
    width: 56px;
    height: 56px;
    font-size: 42px;
    border-radius: 50%;
    color: white;
    margin-bottom: 16px;
    font-weight: 700;
}

.guess-statistics {
    margin-bottom: 16px;
}

.quit-header {
    cursor: pointer;
    margin: 16px;
    color: config.$color-red;
    font-weight: 700;
}

.checkbt {
    background: config.$color-green;
    color: rgb(26, 88, 64);
}

.highscorebt {
    margin-top: 32px;
    font-size: 16px;
}