@use 'config';

.game-view--highscore {
    background: config.$color-dark-blue;
    border-radius: 15px;
    margin: 24px;
    box-sizing: border-box;
    height: auto;
    color: white;
    flex-direction: column;
    align-items: center;
}

.success-message {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.message {
    margin-bottom: 32px;
}

.new-highscore {
    font-size: 32px;
    margin-bottom: 32px;
    color: config.$color-gold;
    font-weight: 700;
}

.scoreboard, .scoreboard-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex: 1;
}

.score {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid config.$color-medium-gray;

}

.play-again {
    display: flex;
    flex-direction: row;
}

.awsome {
    color: config.$color-green;
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 800;
}