@use 'config';

.game-view--start {
    justify-content: center;
    align-items: center;
    width: inherit;
    flex-direction: column;
    p {
        display: inline-block;
        width: 75%;
        text-align: center;
    }
}

.choose-mode {
    display: flex;
    justify-content: center;
}

.welcome-text {
    font-weight: 700;
    font-size: 28px;
}